<div class="row">
  <div class="col-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2>Recipe Name here</h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
   <div class="btn-group">
     <button type="button"
      class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Manage Recipe</button>
      <ul class="dropdown-menu">
        <a class="dropdown-item">To Shopping List</a>
        <a class="dropdown-item">Edit Recipe</a>
        <a class="dropdown-item">Delete Recipe</a>
      </ul>
   </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2>Description</h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h3>Ingradiants</h3>
  </div>
</div>
